body {
  width: 600px;
  height: 700px;
  padding: 10px;
  position: relative;
}

.header {
  width: 100%;
  height: 100px;
  display: inline-block; 
  margin: 0 auto;
  padding: 5px;
  position: relative;
  border: 1px solid black; 
  vertical-align: middle;
}

.title {
  margin:auto;
  line-height:4em;
  vertical-align:middle;
  text-align:center;
}

.choice {
  width: 100%;
  height: 75%;
  display: inline-block; 
  margin: 0 auto;
  padding: 5px;
  position: relative;
  border: 1px solid black; 
  vertical-align: middle;
}

.q {
  width: 100%;
  height: auto;
  display: inline-block; 
  margin: 0 auto;
  padding: 10px;
  position: relative;
  vertical-align: middle;
  text-align:center;
}

.which {
  width: 100%;
  height: 67%;
  display: inline-block; 
  margin: 0 auto;
  padding: 10px;
  position: relative;
  vertical-align: middle;
  display: none;
}
.x {
  width: 46%;
  height: 100%;
  display: inline-block; 
  margin: 0 auto;
  padding: 5px;
  position: relative;
  vertical-align: middle;
  float: left;
}

.o {
  width: 46%;
  height: 100%;
  display: inline-block; 
  margin: 0 auto;
  padding: 5px;
  position: relative;
  vertical-align: middle;
  float: left;
}

.grid {
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 400px;
  padding: 10px;
  display: inline-block; 
  margin: 0 auto;
  vertical-align: middle;
  display: none;
}

.row {
  float: left;
  box-sizing: border-box; 
  width: 33%;
  height: 33%;
  display: block;
  border: 1px solid black;
  margin: auto;
}

#prompt {
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 100px;
  padding: 10px;
  display: inline-block; 
  margin: 0 auto;
  vertical-align: middle;
  display: none;
}
